* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: white;
}

.nav {
    background-color: rgba(255, 255, 255, 0.95);
    height: 44px;
    width: 100%;
    display: flex;
    position: absolute;
    position: fixed;
    z-index: 10;

    /* align-content: center; */
    /* justify-content: space-around; */

}

.apple {
    font-size: 1.2rem;
    margin: 0 382px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.store {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    right: 362px;
    z-index: 2;
}

/* .S:hover{
    z-index: -2;
    margin: 100px;
    
} */
/* .storeclone{
    font-family:SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      left: 459px;
    top: 14px;
    z-index: -1;
   
    /* visibility: hidden; */


/* .storeclone:hover{
    background-color: blue;
} */

.Mac {
    padding-left: 30px;
}

.search {
    padding-left: 50px;
    font-size: 1rem;
    opacity: 0.8;
}

.bag {
    padding-left: 45px;
    font-size: 1rem;
    opacity: 0.8;
}

.watchsection {
    height: 280px;
    width: 100%;

    display: flex;
    background-color: #f5f5f7;

}


.watchtext {
    display: flex;
    position: absolute;
    z-index: 2;
    color: black;
    top: 100px;
    font-size: 50px;
    gap: 10px;
    left: 660px;

}

.watchtext i {
    position: relative;
    top: 7px;
}

.watchtext a {
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 500;
}

.series {
    display: flex;
    position: relative;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-size: 20px !important;
    font-weight: 600 !important;
    letter-spacing: 5px;
    font-style: normal;
    top: 60px;
    right: 173px;
}

.more {
    display: inline-block;
    background: #0071e3;
    color: #fff;
    border: 1px solid;
    border-radius: 40px;
    font-size: 17px;
    width: 130px;
    height: 48px;
    position: relative;
    top: 110px;
    right: 379px;
    cursor: pointer;


}

.buy {
    display: inline-block;
    width: 78px;
    height: 48px;
    background: transparent;
    border: 1px solid #0071e3;
    color: #0071e3;
}

.buy:hover {
    background: #0071e3;
    color: #fff;

}

.watch {
    background-image: url(./watch.png);
    position: relative;
    height: 320px;
    width: 100%;
    z-index: 1;
}

.ipadsection {
    background: #000;

}

.ipadtext a {
    color: white !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 700;
    text-transform: none;
}


.ipadtext {
    position: relative;
    z-index: 10;
    top: 63px;
    height: 60px;
    text-transform: none;
}

.ipadseries {
    font-size: 25px !important;
    font-weight: 400 !important;
    text-transform: none;
    right: 300px;
    top: 70px;
    letter-spacing: 0;
}

.ipad {
    background-image: url(./ipads.png);
    height: 380px;
    position: relative;
    bottom: 40px;

}

.ipadmore {
    display: inline-block;
    background: #0071e3;
    color: #fff;
    border: 1px solid #0071e3;
    border-radius: 40px;
    font-size: 17px;
    width: 130px;
    height: 48px;
    position: relative;
    top: 192px;
    right:-30px;
    cursor: pointer;
}

.ipadbuy {
    display: inline-block;
    width: 78px;
    height: 48px;
    background: transparent;
    border: 1px solid #0071e3;
    color: #0071e3;
    right: -40px;
}
.ipadbuy:hover{
    background: #0071e3;
    color: white;
}